[submodule "deps/quicly"]
	path = deps/quicly
	url = https://github.com/Project-Faster/quicly.git
	branch = windows-support

[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/Project-Faster/openssl-cmake.git
